body {
  background-image: url("/images/cards.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.card {
  border: solid 2px #d0d6d6;
  box-shadow: 10px 10px 10px #717272;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin: auto;
  height: 450px;
  width: 300px;
  margin-top: 100px;
  background-color: #d0d6d6;
  position: relative;
}
.top-suit {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 100px;
}
.bottom-suit {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 100px;
  transform: rotate(180deg);
}
.num-letter {
  position: absolute;
  margin-top: 130px;
  font-size: 160px;
  font-weight: bold;
}
